@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="app">
    <div class="fieldLine">
        <div class="label">Priority:</div>
        <div kendo-combo-box></div>
    </div>
    <br />
    <div>
        <div class="label">Users:</div>
        <div kendo-combo-box></div>
    </div>
    <br />
    <div>
        <div class="label">Start Date:</div>
        <div kendo-date-picker></div>
    </div>
    <br />
    <div>
        <div class="label">End Date:</div>
        <div kendo-date-picker></div>
    </div>

    <div>
        <div>
            <h2>Selected Values</h2>
        </div>
        <div>
            <div class="label">Priority:</div>
        </div>
        <br />
        <div>
            <div class="label">Users:</div>
        </div>
        <br />
        <div>
            <div class="label">Start Date:</div>
        </div>
        <br />
        <div>
            <div class="label">End Date:</div>
        </div>
        <br />
    </div>
</div>
