@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-app="app" data-ng-controller="kendoController">
    <div>
        <div class="label">Priority:</div>
        <div data-kendo-combo-box data-m-data="service.priorities" data-text="priorityText" data-value="priorityValue"></div>
    </div>
    <br />
    <div>
        <div class="label">Users:</div>
        <div data-kendo-combo-box data-m-data="users" data-text="userText" data-value="userValue"></div>
    </div>
    <br />
    <div>
        <div class="label">Start Date:</div>
        <div data-kendo-date-picker data-value="startDate"></div>
    </div>
    <br />
    <div>
        <div class="label">End Date:</div>
        <div data-kendo-date-picker data-value="endDate"></div>
    </div>
    <br />
    <div>
        <div>
            <h2>Selected Values</h2>
        </div>
        <div>
            <span class="label">Priority:</span>
            <span ng-show="priorityValue && priorityText">{{ priorityValue }} - {{ priorityText }}</span>
        </div>
        <div>
            <span class="label">Users:</span>
            <span ng-show="userValue && userText">{{ userValue }} - {{ userText }}</span>
        </div>
        <div>
            <span class="label">Start Date:</span>
            <span>{{ startDate | date }}</span>
        </div>
        <div>
            <span class="label">End Date:</span>
            <span>{{ endDate | date }}</span>
        </div>
    </div>
</div>
