@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-app="app" data-ng-controller="kendoController">
    <div class="fieldLine">
        <div class="label">Priority:</div>
        <div data-kendo-combo-box data-m-data="priorities" data-text="priorityText" data-value="priorityValue"></div>
    </div>
    <br />
    <div>
        <div class="label">Users:</div>
        <div data-kendo-combo-box data-m-data="users" data-text="userText" data-value="userValue"></div>
    </div>
    <br />
    <div>
        <div class="label">Start Date:</div>
        <div data-kendo-date-picker data-value="startDate"></div>
    </div>
    <br />
    <div>
        <div class="label">End Date:</div>
        <div data-kendo-date-picker data-value="endDate"></div>
    </div>

    <div>
        <div>
            <h2>Selected Values</h2>
        </div>
        <div>
            <div class="label">Priority:</div>
            <div>{{ priorityValue }} - {{ priorityText }}</div>
        </div>
        <br />
        <div>
            <div class="label">Users:</div>
            <div>{{ userValue }} - {{ userText }}</div>
        </div>
        <br />
        <div>
            <div class="label">Start Date:</div>
            <div>{{ startDate | date }}</div>
        </div>
        <br />
        <div>
            <div class="label">End Date:</div>
            <div>{{ endDate | date }}</div>
        </div>
        <br />
    </div>
</div>
